<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img
        src="/icon/EGFB-2.png"
        alt="Egyptian Food Bank Logo Transparent Background"
        width="150"
      />
    </a>

    <!-- Hamburger -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 justify-content-lg-end justify-content-center text-center">
        <a
          class="nav-link underline-link mx-1 px-3"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>

        <a class="nav-link underline-link mx-1 px-3" routerLink="/graph" routerLinkActive="active">
          Graphs
        </a>

        <a
          class="nav-link underline-link mx-1 px-3"
          routerLink="/volunteers"
          routerLinkActive="active"
        >
          Volunteers
        </a>
      </div>
    </div>
  </div>
</nav>
