.bg-EFB-primary {
  background-color: rgb(101, 183, 90);
}

.bg-EFB-secondary{
  background-color: rgb(19, 70, 56);
}

.text-EFB-primary {
  color: rgb(101, 183, 90);
}
.text-EFB-secondary {
  color: rgb(19, 70, 56);
}
